[Desktop Entry]
Version=1.0
Type=Application
Name[de]=Tagesgans
Name[en]=DuckDay
GenericName[en]=Diary
GenericName[de]=Tagebuch
Comment[en]=DuckDay_a_FOSS_Diary
Comment[de]=Tagesgans_ist_ein_FOSS_Tagebuch
Exec=~/.local/bin/tagesgans/tagesgans.py
Icon=~/.local/share/icons/Goose/tagesgans.png
Terminal=false
Categories=Utility;Application;Editor;
Keywords=Tagebuch;Diary;Python;Change;Goose;Duck;Editor;Day;Dayly;Tag;
